<header>
  <app-menu-bar></app-menu-bar>
</header>

<div class="titulo">
  <app-menu-title title="Um titulo qualquer"></app-menu-title>
</div>

<div class="container">
  <div class="left">
    <app-big-card
    imagem="../assets/Iron-Man-1.png"
    titulo="Iron Man"
    paragrafo="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis ratione sunt quod molestiae maiores voluptates
    reprehenderit et, quis incidunt placeat dolorum, illum omnis eveniet reiciendis eaque quaerat minima, dolorem vitae? Lorem
    ipsum dolor sit amet consectetur adipisicing elit. ">
    </app-big-card>
  </div>

  <div class="right">
    <app-small-card
    imagem="../assets/The Batman.jpg"
    titulo="The Batman"
    paragrafo="Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Cumque reprehenderit ex ratione maiores nostrum! Ut nisitempora quibusdam corrupti esse eius rerum quas, veritatis
        vero numquam magni facilis nesciunt temporibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
        ducimus deleniti laboriosam magni blanditiis error voluptates molestiae asperiores sed maxime,
        vitae ipsa dolore atque, possimus neque optio et voluptatum? Impedit. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Consequatur explicabo vero inventore exercitationem excepturi quo maxime enim quos, accusamus nulla
        est, et rem consectetur deserunt sit! Natus eligendi omnis amet"
        ></app-small-card>
    <app-small-card
    imagem="../assets/thor.png"
    titulo="thor: the dark world"
    paragrafo="Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Cumque reprehenderit ex ratione maiores nostrum! Ut nisitempora quibusdam corrupti esse eius rerum quas, veritatis
        vero numquam magni facilis nesciunt temporibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
        ducimus deleniti laboriosam magni blanditiis error voluptates molestiae asperiores sed maxime,
        vitae ipsa dolore atque, possimus neque optio et voluptatum? Impedit. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Consequatur explicabo vero inventore exercitationem excepturi quo maxime enim quos, accusamus nulla
        est, et rem consectetur deserunt sit! Natus eligendi omnis amet"
        ></app-small-card>
    <app-small-card
    imagem="../assets/Vingadores.jpg"
    titulo="avengers: infinity war"
    paragrafo="Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Cumque reprehenderit ex ratione maiores nostrum! Ut nisitempora quibusdam corrupti esse eius rerum quas, veritatis
        vero numquam magni facilis nesciunt temporibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
        ducimus deleniti laboriosam magni blanditiis error voluptates molestiae asperiores sed maxime,
        vitae ipsa dolore atque, possimus neque optio et voluptatum? Impedit. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Consequatur explicabo vero inventore exercitationem excepturi quo maxime enim quos, accusamus nulla
        est, et rem consectetur deserunt sit! Natus eligendi omnis amet"
        ></app-small-card>
  </div>
</div>
